$red: #d40b3b;

// // font-family: 'Merriweather', serif;
// // font-family: 'Roboto Slab', serif;
// // font-family: 'Droid Serif', serif;
// // font-family: 'PT Serif', serif;
// // font-family: 'Source Serif Pro', serif;
// // font-family: 'Halant', serif;
// // font-family: 'Sura', serif;
// // font-family: 'Roboto', sans-serif;
// // font-family: 'Titillium Web', sans-serif;
// // font-family: 'Karla', sans-serif;
// // font-family: 'Fira Sans', sans-serif;
// // font-family: 'Kanit', sans-serif;
// // font-family: 'Prompt', sans-serif;
// // font-family: 'Work Sans', sans-serif;
// // font-family: 'Inconsolata', monospace;
// // font-family: 'Anonymous Pro', monospace;
// // font-family: 'Fira Mono', monospace;
// // font-family: 'PT Mono', monospace;
// // 

// * {
// }

// html {
// 	font-size: 62.5%;
// 	text-rendering: optimizeLegibility !important;
// 	// font-size: 112.5%;
// }


// h1, h2, h3, h4, figcaption, li {
// 	font-family: 'Kanit', sans-serif;
// 	// font-family: 'Titillium Web', sans-serif;
// 	font-family: 'Fira Sans', sans-serif;
// 	font-family: 'Work Sans', sans-serif;
// 	// font-family: 'Prompt', sans-serif;
// }

// .metadata {
// 	font-size: 1.2rem;
// 	line-height: 1.3em;
// 	font-family: 'Inconsolata', monospace;
// 	// font-family: 'Anonymous Pro', monospace;
// 	// font-family: 'Fira Mono', monospace;
// 	// font-family: 'PT Mono', monospace;
// }

// h1 {
// 	font-weight: 600;
// 	font-size: 5.2rem;
// 	line-height: 4.0rem;
// 	letter-spacing: -0.01em;
// }

// h1.book-title {
// 	font-size: 6.8rem;
// 	line-height: 6.5rem;
// 	font-weight: 800;
// }

// h2 {
// 	font-size: 3.0rem;
// 	font-weight: 400;
// }

// h2.author {
// 	font-weight: 200;
// 	font-size: 4.2rem;
// 	line-height: 4.2rem;
// }

// h3 {
// 	font-weight: 600;
// 	font-size: 1.9rem;
// 	letter-spacing: 0.015em;
// }

// .page-links a {
// 	color: inherit;
// 	font-weight: 600;
// 	font-family: 'Titillium Web', sans-serif;
// 	font-family: 'Karla', sans-serif;
// 	font-size: 1.8rem;
// 	letter-spacing: 0.05em;
// 	// text-transform: uppercase;
// }

// p {
// 	font-family: 'Halant', serif;
// 	// font-family: 'PT Serif', serif;
// 	font-size: 2.0rem;
// 	line-height: 1.6em;
// 	text-indent: 1.7rem;
// }

// h1 + p, h2 + p, h3 + p, figure + p {
// 	text-indent: 0;
// }


// figcaption {
// 	font-weight: 300;
// 	font-size: 1.5rem;
// 	line-height: 1.9rem;
// }

// li {
// 	font-weight: 300;
// 	font-size: 1.7rem;
// 	line-height: 2.4rem;
// }

// .back-to-top {
// 	font-family: 'Karla', sans-serif;
// 	// font-family: 'Work Sans', sans-serif;

// 	font-size: 1.8rem;
// 	line-height: 1em;
// 	color: inherit;
// 	font-weight: 600;
// 	letter-spacing: 0.13em;
// 	text-decoration: none;
// 	// text-transform: uppercase;
// 	// letter-spacing: 0.04em;
// 	color: #fff;
// 	text-transform: uppercase;
// }
// 
//
html {
	font-size: 62.5%;
	text-rendering: optimizeLegibility !important
}

body {
	padding: 2.5rem;
	background: url('../images/background-8.gif');
}

a {
	color: inherit;
}

.intro {
	margin-bottom: 9rem;
}


.intro__tagline {
	font-family: 'Work Sans', sans-serif;
	// font-family: 'Merriweather', serif;
	// font-family: 'Roboto Slab', serif;
	// font-family: 'Droid Serif', serif;
	// font-family: 'PT Serif', serif;
	// font-family: 'Source Serif Pro', serif;
	// font-family: 'Halant', serif;
	// font-family: 'Sura', serif;
	// font-family: 'Roboto', sans-serif;
	// font-family: 'Titillium Web', sans-serif;
		// font-family: 'Karla', sans-serif;
		// font-family: 'Fira Sans', sans-serif;
	// font-family: 'Kanit', sans-serif;
		// font-family: 'Prompt', sans-serif;
	// font-family: 'Work Sans', sans-serif;
	// font-family: 'Inconsolata', monospace;
	// font-family: 'Anonymous Pro', monospace;
	// font-family: 'Fira Mono', monospace;
	// font-family: 'PT Mono', monospace;
	font-family: 'Poppins', sans-serif;
	letter-spacing: -0.025em;
	font-size: 6.8rem;
	line-height: 6.8rem;
	font-weight: 700;
	margin-bottom: 1.2rem;
	max-width: 1000px;
}

.intro__name {
	font-family: 'Work Sans', sans-serif;
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	font-size: 4.2rem;
	line-height: 4.2rem;
	letter-spacing: -0.025em;
}

.about {
	max-width: 320px;
	margin-bottom: 14.0rem;
	font-size: 1.35rem;
	line-height: 1.4em;
	font-family: 'Inconsolata', monospace;
}

.about a:hover {
	color: $red;
}


.about__para:not(:first-child) {
	text-indent: 6rem;
}

.about__contact {
	display: block;
}


.selected-work {
	padding: 0 10rem 10rem 10rem;
	border: 35px solid $red;
	color: $red !important;
	text-align: center;
	background: #fff;
}

.selected-work__title {
	margin: 8.5rem 0 7rem 0;
	display: block;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.5rem;
}

.selected-work a {
	text-decoration: none;
}

.selected-work__list-item {
	margin-bottom: 7em;
}

.selected-work__list-item-title {
	font-family: 'Poppins', sans-serif;
	letter-spacing: -0.025em;
	font-size: 4.5rem;
	font-weight: 600;
	line-height: 1.1em;
	margin-bottom: 0.8rem;
}

.selected-work__span {
	display: block;
	font-size: 1.35rem;
	line-height: 1.4em;
	font-family: 'Inconsolata', monospace;
}
