$red: #d40b3b;
$mobile: 736px;


@font-face {
    font-family: 'Poppins';
    src: url('../webfonts/Poppins/Poppins-Light.ttf');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Poppins';
    src: url('../webfonts/Poppins/Poppins-Regular.ttf');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Poppins';
    src: url('../webfonts/Poppins/Poppins-Medium.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('../webfonts/Poppins/Poppins-SemiBold.ttf');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url('../webfonts/Poppins/Poppins-Bold.ttf');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('../webfonts/Inconsolata/Inconsolata-Regular.ttf');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('../webfonts/Inconsolata/Inconsolata-Bold.ttf');
    font-style: normal;
    font-weight: 600;
}


html {
	font-size: 62.5%;
	text-rendering: optimizeLegibility !important
}

body {
	padding: 2.5rem;
	padding-top: 2rem;
	background: url('../images/background-8.gif');
}

a {
	color: inherit;
}

.intro {
	margin-bottom: 6rem;
}


.intro__tagline {
	font-family: 'Poppins', sans-serif;
	letter-spacing: -0.025em;
	font-size: 6.8rem;
	line-height: 1em;
	font-weight: 700;
	margin-bottom: 0.6rem;
	max-width: 1000px;

	@media (max-width: $mobile) {
		font-size: 6rem; 
	}
}

.intro__name {
	font-family: 'Work Sans', sans-serif;
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	font-size: 4.2rem;
	line-height: 1em;
	letter-spacing: -0.025em;
	
	@media (max-width: $mobile) {
		font-size: 3.3rem; 
	}
}

.about {
	max-width: 340px;
	margin-bottom: 14.0rem;
	font-size: 1.35rem;
	line-height: 1.4em;
	font-family: 'Inconsolata', monospace;
	
	@media (max-width: $mobile) {
		max-width: 85%;
	}
}

.about a:hover {
	color: $red;
	text-shadow: 0 0 20px rgba($red, 0.6);
}


.about__para:not(:first-child) {
	text-indent: 6rem;
}

.about__contact {
	display: block;
}


.selected-work {
	padding: 0 10rem 10rem 10rem;
	border: 35px solid $red;
	color: $red !important;
	text-align: center;
	background: #fff;
	box-shadow: 0 0 50px 0 rgba(0,0,0,0.66);
	cursor: none;

	@media (max-width: $mobile) {
		padding: 0 2.5rem 5rem 2.5rem;
		border: 25px solid $red;
	}
}

.selected-work * {
	-webkit-user-select: none;
}


.selected-work__title {
	margin: 8.5rem 0 7rem 0;
	display: inline-block;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.5rem;
	cursor: default;
}

.selected-work a {
	text-decoration: none;
	-webkit-user-select: none !important;
	display: inline-block;
}

.selected-work a:hover {
	text-shadow: 0 0 40px rgba($red, 0.8);
}

// .selected-work__list {
// 	display: flex;
// 	flex-direction: column;
// }

.selected-work__list-item {
	margin-bottom: 7em;
	display: inline-block;
	transform-origin: 50% 50%;
}

.selected-work__list-item-title {
	font-family: 'Poppins', sans-serif;
	letter-spacing: -0.025em;
	font-size: 4.2rem;
	font-weight: 600;
	line-height: 1.1em;
	margin-bottom: 0.8rem;
	line-height: 1em;
	-webkit-user-select: none;
	
	@media (max-width: $mobile) {
		font-size: 3.3rem;
	}
}

.selected-work__span {
	display: block;
	font-size: 1.35rem;
	line-height: 1.4em;
	font-family: 'Inconsolata', monospace;
}

.selected-work canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,255,0.1);
}

.bomb {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	font-size: 22px;
	line-height: 1em;
	margin-left: -8px;
	margin-top: -8px;
	pointer-events: none;
}

.selected-work:not(.selected-work--item-hover):hover .bomb {
	display: block;
}
